.Day_box {
  height: 735px;
  width: 19%;
  border: 1px solid #AAA;
  float: left;
  text-align: center;
}

.Times {
	Height: 735px;
	width: 4%;
	float: left;
	border: 1px solid #DDD;	
}

.real-class {
	background-color: lightblue;
	height: 200px;
}

.onCalendar {
	border-radius: 5px;
}
.fullDay {
	background-color: #DDDDDD;
}